@model HQT_CSDL.Models.LOAITIETKIEM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutQTV.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LOAITIETKIEM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENLOAITK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENLOAITK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KYHAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KYHAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAISUAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAISUAT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MALOAITK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
